@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'minecraft';
  src: url(minecraft.otf);
  font-style:normal;
  font-weight: 100;
}
:root { 
  --primary: #DFF6FF;
  --secondary: #47B5FF;
  --complementary: #256D85;
  --background: #06283D;
}
html {
  height:100%;
}
body {
  color: var(--primary);
  font-family: 'minecraft';
  background-color: var(--background);
  height:100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text],input[type=email],input[type=password] {
  background-color: var(--primary);
  color:black;
}

button[type=submit] {
  background-color: var(--complementary);
}
button[type=submit]:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
a {
  color: var(--complementary);
}
a:hover {
  color: var(--secondary);
}
